.control-color{
    color: #fff !important;
}
.control-color-plus{
    color:#000 !important;
}

.control-background{
    background:#fff !important;
}
.control-background-plus{
    background:#000 !important;
}

.control-border{
    border-color: #000 !important;
    
}
.control-border-plus{
    border-color: #fff !important;
}